<!-- Page Sidebar Start-->
<div class="page-sidebar">
    <div class="main-header-left d-none d-lg-block">
      <div class="logo-wrapper"><a href="index.html"><img src="../assets/images/endless-logo.png" alt=""></a></div>
    </div>
    <div class="sidebar custom-scrollbar">
      <div class="sidebar-user text-center">
        <div><img class="img-60 rounded-circle" src="../assets/images/user/1.jpg" alt="#">
          <div class="profile-edit"><a href="edit-profile.html" target="_blank"><i data-feather="edit"></i></a></div>
        </div>
        <h6 class="mt-3 f-14">ELANA</h6>
        <p>general manager.</p>
      </div>
      <ul class="sidebar-menu">
        <li><a class="sidebar-header" href="javascript:void(0)" aria-expanded="false"><i data-feather="home"></i><span>Dashboard</span><span class="badge badge-pill badge-primary">6</span><i class="fa fa-angle-right pull-right"></i></a>
          <ul class="sidebar-submenu">
            <li><a href="index.html"><i class="fa fa-circle"></i><span>Default</span></a></li>
            <li><a href="dashboard-ecommerce.html"><i class="fa fa-circle"></i><span>E-commerce</span></a></li>
            <li><a href="dashboard-university.html"><i class="fa fa-circle"></i><span>University</span></a></li>
            <li><a href="dashboard-bitcoin.html"><i class="fa fa-circle"></i><span>Crypto</span></a></li>
            <li><a href="dashboard-server.html"><i class="fa fa-circle"></i><span>Server</span></a></li>
            <li><a href="dashboard-project.html"><i class="fa fa-circle"></i><span>Project</span></a></li>
          </ul>
        </li>
        <li><a class="sidebar-header" href="javascript:void(0)"><i data-feather="airplay"></i><span>Widgets</span><i class="fa fa-angle-right pull-right"></i></a>
          <ul class="sidebar-submenu">
            <li><a href="general-widget.html"><i class="fa fa-circle"></i>General</a></li>
            <li><a href="chart-widget.html"><i class="fa fa-circle"></i>Chart</a></li>
          </ul>
        </li>
        
        <li><a class="sidebar-header" href="maintenance.html" target="_blank"><i data-feather="settings"></i><span> Maintenance</span></a></li>
      </ul>
    </div>
  </div>
  <!-- Page Sidebar Ends-->
